<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>SignalR Chart Example</title>
    <script src="~/js/chart.js/dist/Chart.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var samples = 100;
            var speed = 250;
            var values = [];
            var labels = [];
            var charts = [];
            var value = 0;

            values.length = samples;
            labels.length = samples;
            values.fill(0);
            labels.fill(0);

            var chart = new Chart(document.getElementById("chart"),
                {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                data: values,
                                backgroundColor: 'rgba(255, 99, 132, 0.1)',
                                borderColor: 'rgb(255, 99, 132)',
                                borderWidth: 2,
                                lineTension: 0.25,
                                pointRadius: 0
                            }
                        ]
                    },
                    options: {
                        responsive: false,
                        animation: {
                            duration: speed * 1.5,
                            easing: 'linear'
                        },
                        legend: false,
                        scales: {
                            xAxes: [
                                {
                                    display: false
                                }
                            ],
                            yAxes: [
                                {
                                    ticks: {
                                        max: 1,
                                        min: -1
                                    }
                                }
                            ]
                        }
                    }
                });

            setupConnection = () => {
                connection = new signalR.HubConnectionBuilder()
                    .withUrl("/sensor")
                    .configureLogging(signalR.LogLevel.Information)
                    .build();

                connection.start()
                    .catch(err => console.error(err.toString()));

                connection.on("Broadcast", (message) => {
                    values.push(message.value);
                    values.shift();
                    chart.update();
                });

                connection.on("finished", function () {
                    connection.stop();
                });
            };

            setupConnection();
        });
    </script>
</head>
<body>
    <canvas id="chart" style="width: 512px; height: 320px"></canvas>
</body>
</html>
